*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(to right, rgb(101, 213, 233), rgb(255, 116, 232));
}

.pokedex{
	padding: 40px;
	margin: 0 auto;
}

img{
	width: inherit;
	height: inherit;
}

.pokemon{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
	border-radius: 24px;
	grid-gap: 20px;
	padding-inline-start: 0;
	text-align: center;
	
}

.cabeca{
	font-size: 41px;
	margin: 0;
	color: rgb(255, 239, 218);
	font-family: 'Belanosima', sans-serif;
	text-align: center;
}

.espaco{
	width: 100px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	margin-top: 17px;
	border-radius: 15px;
}

.nome{
	font-size: 20px;
}

.tipos{
	color: rgb(129, 129, 129);
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #F5F5F5;
}